// don't forget to add the global styles that are in styles.css

.sidenav {
  width: 250px;
}

.toggle {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 25px 0;
  &:hover {
    cursor: pointer;
  }
}

.nav {
  .active-link {
    background-color: #fafafa;
    border-left: solid 3px #1976d2;
  }

  .hover {
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-property: transform, border, background-color;
  }

  mat-list-item,
  a {
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    &:hover {
      cursor: pointer;
      background-color: #fafafa;
      border-left: solid 3px #1976d2;
    }
  }
  mat-icon {
    color: #1976d2;
  }
}
